port = PORT
max_connections=30
fsync = off

log_min_messages=log
log_line_prefix = '%p %x '

replication_enable=false
replication_mode=master
replication_compression=true
replication_database=DATABASE
