port = PORT
max_connections=5
fsync = off

log_line_prefix = '%m %p %x '
log_min_messages = log

replication_enable=false
replication_mode=slave
replication_slave_no=SLAVE_ID
replication_database=DATABASE
